
<div class="container mt-5">
    <form action="" class="form-group">
        
        <input class="form-control" (input)="buscarProducto($event.target.value)" type="text"  placeholder="Busque un producto....">
    </form>

<button routerLink="/agregar-productos" class="btn btn-primary mt-3">Agregar Nuevo Producto</button>
    <div class="row">

        <div class="col-sm-3">
            <div class="card mt-4" *ngFor="let producto of productos" style="width: 18rem;" >
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}} </h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{producto.productoID}}</h6>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <p class="card-text">{{producto.precio | currency : '$ : '}}</p>
                  
                  <button class="btn btn-primary"  (click)="agregar(producto)">Agregar</button>
                 
                </div>
            </div>
        </div>

    </div>

</div>