<div class="container mt-5">
    <form action="" class="form-group">
        
        <input class="form-control" (input)="buscarClientes($event.target.value)" type="text"  placeholder="Busque un cliente....">
    </form>

<button routerLink="/agregar-Cliente" class="btn btn-primary mt-3">Agregar Cliente Nuevo</button>
    <div class="row">

        <div class="col-sm-3">
            <div class="card mt-4" *ngFor="let cliente of clientes" style="width: 18rem;" >
                <div class="card-body">
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{cliente.clienteID}}</h6>
                  <p class="card-text">{{cliente.direccion}}</p>
                  <a (click)="irAProductos(cliente)" class="card-link">Agregar</a>
                  <a href="#" class="card-link">Eliminar</a>
                </div>
            </div>
        </div>

    </div>

</div>