<ul class="nav navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Clientes </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/listado-pedidos">Listado Pedidos </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/pedidos">Pedido Actual </a>
      </li>
      <li class="nombreCliente">{{this.pedidosServicio.pedido.nombreCliente}}</li>
  </ul>